<link href="http://www.worldmall.cn/themes/mall/red2/styles/default/css/bbscommon.css" rel="stylesheet" type="text/css" />
<link href="http://www.worldmall.cn/themes/mall/red2/styles/default/css/bbsheader.css" rel="stylesheet" type="text/css" />
<script LANGUAGE="JavaScript">
	var search_isclick=0;
function keyword_onclick(obj_this)
{				
	if(search_isclick==0)
	obj_this.value='';
	search_isclick++;
	
}

</script>

<div class="site_nav">
    <div class="main">
      <div class="fl navLogin">
         
        <form method="post" id="index_login_form" action="index.php?app=member&amp;act=login">
        <label>用户名：<input name="user_name" type="text" /></label>
    <label>密码：<input type="password" name="password" /></label>
    <input type="hidden" name="ret_url" ectype="head_ret_url" value="" size="12" />
    <input type="submit" value="登录" class="login"  />
    <a ectype="dialog" dialog_id='login' dialog_width="870" uri="index.php?app=member&act=ajaxLogin&ajax=1" href="javascript:;" class="register">免费注册</a>
    <a  title="通过QQ帐号登录世界窗"  href="index.php?app=member&amp;act=login&amp;qq=true"><img src="http://www.worldmall.cn/themes/mall/red2/styles/default/images/qq.png" alt="QQ" />登录</a>
    <a title="通过新浪微博帐号登录世界窗" href="index.php?app=member&amp;act=login&amp;sina=true"><img src="http://www.worldmall.cn/themes/mall/red2/styles/default/images/sina.png" alt="新浪" />登录</a>
        </form>
     
        
        <!--您好，欢迎来到世界窗！查看批发价请<a href="#" class="cred">[请登录]</a><a href="#" class="cred">[免费注册]</a>--> 
      </div>
    <div class="fr shortcut">
      <a href="index.php?app=member&amp;act=go_buyer">我是买家</a>|
        <a href="index.php?app=apply" title="申请开店">我要开店</a>|
            <a href="index.php?app=article&code=help">帮助中心</a>|
            <a href="javascript:;" onclick="addtofavorite();">收藏本站</a>|
        <strong>世界窗批发热线：020-86378968</strong>
      </div>
    </div>
  </div>
  <div id="header">

  <div class="main">
    <a id="logo" href="http://www.worldmall.cn"><h1 class="hide">世界窗在线皮具批发市场</h1></a>
    <div class="nav">
      <ul>
        <li><a href="http://www.worldmall.cn" class="current" >首页</a></li>
                <li><a class="hover" href="index.php?app=search&goods_grade=0&order=add_time desc">所有款式</a></li>
                <li><a class="hover" href="/search/products/new">网代专区</a></li>
                <li><a class="hover" href="/brand">品牌区</a></li>
                <li><a class="hover" href="http://bbs.worldmall.cn">同窗社区</a></li>
                
      </ul>
    </div>
  <!--<div class="attention"><wb:follow-button uid="2095506602" type="red_2" width="136" height="24" ></wb:follow-button></div> -->
  </div>
   
<div class="mall_search">
  <div class="main">
  <form action="index.php" method="get" class="search_main">
        <div class="search_type">
    <ul class="pitch_up">
    <li>商品<i></i></li>
    </ul>
    <ul class="toselect" style="display:none;">
    <li class="curr"><a val="search">商品</a></li>
    <li ><a val="brand">品牌</a></li>
    </ul>
        <input type="hidden" id="act" name="act" value="index" />
    </div>
        <input name="keyword" type="text" value="请输入关键词" />
        <!--<input id="act" name="act" value="groupbuy" type="hidden">
                <input id="act" name="act" value="store" type="hidden">-->
        <input type="hidden" id="app" name="app" value="search"/>
        <input type="hidden" id="order" name="order" value="sales desc" />
        <button>搜索</button>
    </form>
        <div class="hotwords">热门搜索： 
           
          <a href="index.php?app=search&amp;keyword=宾利">宾利</a>| 
           
          <a href="index.php?app=search&amp;keyword=时尚">时尚</a>| 
           
          <a href="index.php?app=search&amp;keyword=真皮">真皮</a> 
           
        </div>
        <div class="mymall">
        <div class="user">
          <a class="menu_hd user_hd" href="index.php?app=member">用户中心<i></i></a>
          <div class="mymall_bd" style="display: none; ">
            <div class="hd"><b>用户名</b><a href="#">世界窗首页</a></div>
            <div class="bd">
              <ul>
                                              <li><a href="index.php?app=my_question">咨询回复</a></li>
                <li><a href="index.php?app=my_favorite">我收藏的商品</a></li>
                <li><a href="index.php?app=buyer_order&amp;type=pending">未付款的订单</a></li>
                <li><a href="index.php?app=buyer_order&amp;type=finished">历史订单</a></li>
                <li><a href="index.php?app=my_address">我的地址</a></li>
                
                <!--<li><a href="javascript:;">我的积分（）</a></li> -->
                
                <li><a href="index.php?app=recharge">我的账户</a></li>
                <li><a href="index.php?app=my_comment">待评价的商品</a></li>
                              </ul>
            </div>
          </div>
        </div>
        <div class="mycart">
          <a class="menu_hd mycart_hd" href="index.php?app=cart">去购物车结算<i></i></a>         
          <div class="mymall_bd" style="display: none; ">
          <div class="no-goods">购物车中还没有商品，赶紧选购吧!</div>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
 
<div id="nv_e">
	<!--{if !empty($_G['setting']['plugins']['jsmenu'])}-->
		<ul class="p_pop h_pop" id="plugin_menu" style="display: none">
		<!--{loop $_G['setting']['plugins']['jsmenu'] $module}-->
			 <!--{if !$module['adminid'] || ($module['adminid'] && $_G['adminid'] > 0 && $module['adminid'] >= $_G['adminid'])}-->
			 <li>$module[url]</li>
			 <!--{/if}-->
		<!--{/loop}-->
		</ul>
	<!--{/if}-->
	$_G[setting][menunavs]
</div>

  	
 
<script language="javascript"> 
jq(function(){
   jq("#yesmmclogin").toggle(function(){
        jq("#login").parent("div").animate({ height : 85 } , 520 );
jq("#login").animate({marginTop : 0 } , 500 );
jq(this).blur();
   },function(){
    jq("#login").parent("div").animate({ height : 0 } , 500 );
jq("#login").animate({marginTop : -85 } , 520 ); 
jq(this).blur();
   });
   jq("#closeLogin").click(function(){
        jq("#login").parent("div").animate({ height : 0 } , 500 );
jq("#login").animate({marginTop : -85 } , 520 ); 
   });
})
</script>
	
 
