.YesMMC_Studio_Copyright{}

.lleft{ float:left; color:#666;width:360px;font-family:'Hiragino Sans GB','Microsoft YaHei','uS',Helvetica,Arial,sans-serif!important; overflow:hidden; height:55px; margin-right:30px; border-right:1px solid #363636;}
.lleft h3{ font-size:25px; text-align:center;}
.lleft p{text-align:center;}
.lright { float:left; width:550px;color:#666; padding-top:3px;}
.lright .lorx{ float:left;width:550px;padding-bottom:10px;}
.lright .lorx div{ float:left; padding:0 3px}
.lright .lorx .x{ line-height:24px;}
.lright a{color:#666!important}
.lright input.px { border:none;background: #464646; height:19px; list-style:19px; color:#888}
.lright input:focus.px {background: #545454;}
.lright .pns{background: url(../../static/image/yesmmc/img/pn.gif) no-repeat 0 0; height:23px;overflow:hidden;width:52px;font-family:'Hiragino Sans GB','Microsoft YaHei','uS',Helvetica,Arial,sans-serif!important;color:#673D01; border:none;font-weight:normal; font-size:12px;cursor: pointer;}
.lright .lobx{ padding-left:29px; width:470px}
.lright .lobx a{ color:#73840E!important}
.sltm{border-top:none;}

#head{}
#head_t{background:url(../../static/image/yesmmc/img/head.gif) repeat-x 0 0; width:100%; height:45px;}
#head_t .head_t{width:960px; height:45px; margin:0 auto; overflow:hidden}
#head_t li { float: left; padding-left:1px; height:45px;line-height:43px;line-height:45px\9;font-size: 14px;font-family:'Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif!important;background: url(../../static/image/yesmmc/img/head.gif) no-repeat 0 -98px;}
#head_t .home{ margin-top:8px; width:34px; padding:0px; height:28px; overflow:hidden; margin-right:15px;}
#head_t .home a{width:34px;height:28px;display: block;background: url(../../static/image/yesmmc/img/head_b.gif) no-repeat 0 -60px;}
#head_t .home a:hover{background: url(../../static/image/yesmmc/img/head_b.gif) no-repeat 0 -92px;}
#nv_portal .home a{background: url(../../static/image/yesmmc/img/head_b.gif) no-repeat 0 -92px;}
#head_t li a { float: left; padding: 0 16px; height:45px; }
#head_t li a { color:#eee; }
#head_t li span { display:none;}
#head_t .a{ background:none}
#head_t li.a a {background:url(../../static/image/yesmmc/img/head.gif) repeat-x 0 -51px;}
#head_t li a:hover{background:url(../../static/image/yesmmc/img/head.gif) repeat-x 0 -51px;text-decoration: none;}
#head_t .r{float:right;padding-top:9px;padding-top:10px\9}
#head_t .r a{float:left;color:#999;margin-right:12px;height:30px;padding:3px 0;background:none;line-height:20px!important;display:block;}
#head_t .r #share{padding:3px 18px 3px 8px;background:url(../../static/image/yesmmc/img/weibo.gif) no-repeat 57px -238px;background-position:57px -240px\9;_background-position:57px -238px}
#head_t .r #share.a{position:relative;z-index:302;color:#666;background:#fff url(../../static/image/yesmmc/img/weibo.gif) no-repeat 57px -238px;background-position:57px -240px\9;_background-position:57px -238px}
#head_t .r #share:hover{text-decoration:none;}
#head_t .r span{display: none;}
#head_t .r span.pipe{display: none;}
/* undefinedu{U */
#head_t #loginc {background: url("../../static/image/yesmmc/img/qmenu.png") no-repeat 0px 0px; margin: 8px 4px 0px; padding: 0px 17px 0px 0px; width: 79px; height: 37px; text-align: center; color: rgb(187, 187, 187); line-height: 30px; overflow: hidden; font-family: "Hiragino Sans GB","Microsoft YaHei",Helvetica,Arial,sans-serif; font-size: 13px; font-weight: normal; float: right; cursor: pointer; text-shadow: 0;}
#head_t #loginc:hover {color: rgb(255, 255, 255); text-decoration: none;}
#head_t .menu-open#loginc {background-position: 0px -37px; color: rgb(51, 66, 73);}
#head_t .menu-open#loginc:hover {color: rgb(51, 66, 73);}

#head_t .ie8 #qmenu {line-height: 35px !important;}

#head_t #yesmmclogin{float: right;text-align: center;font-size:13px;font-family:'Hiragino Sans GB','Microsoft YaHei','undefineduS',Helvetica,Arial,sans-serif!important;margin:8px 4px 0;padding: 0 17px 0 0!important;width:82px!important;height:37px;background: url(../../static/image/yesmmc/img/qmenu.png) no-repeat 0 0;	font-weight:normal;line-height:30px;text-shadow: 0px 0px 0 #0081B0;color:#bbb;cursor: pointer;}
#head_t #yesmmclogin:hover{color:#BDD817;text-decoration: none;}
#head_t .ie8 #yesmmclogin { line-height: 35px!important; }

.yesmmclogina{margin: 0px; overflow: hidden; position: relative; height: 0px;}
#login {width:100%;background:#111;overflow: hidden;z-index: 3;height: 0;}
#login .logincontent {width:960px;height:70px; overflow:hidden;position: relative;margin: 0 auto;padding-top: 15px;}
#login .loginclose {display: block;position: absolute;right:0px;top:10px;width:19px;font-size: 0.8em;text-align: left;}
#login .loginclose a {display: block;width:19px;height:20px;background: url(../../static/image/yesmmc/img/close.gif) no-repeat right 0;border: none;}
#login .loginclose a:hover {background: url(../../static/image/yesmmc/img/close.gif) no-repeat right -20px;}
/*--------------------------------------------------------------------*/
#mys{display:none;z-index:1;top:0px;position:absolute;right:0px; border:none;background:url(../../static/image/yesmmc/img/mys.png) no-repeat 0 bottom;padding-bottom:11px;_padding-bottom:10px;width:200px;}
#mys .mysn{ float:left;background:url(../../static/image/yesmmc/img/mys.png) repeat-y -200px 0; padding:0px 6px 8px 6px; width:191px;}
#mys .mysnb{float:left;background:#F5F5F5; padding:10px 5px 0px 4px;width:179px;}
#mys .ums{ float: left;width:174px; padding:0 4px;background: url(../../static/image/yesmmc/img/bottom_b.gif) repeat-x 0 bottom; height:65px}
#mys .ums .avt{ float: left; width:60px; padding-top:1px}
#mys .ums .avt img{ background:#fff; border:1px solid #ddd; border-bottom:1px solid #bbb; border-right:1px solid #bbb}
#mys .ums .nam{ float: left; width:114px;}
#mys .ums .nam .j{ color:#666;}
#mys .ums .nam .j a{ color:#4A5E67}
#mys .ums2 { float: left;width:178px; padding:4px 2px;background: url(../../static/image/yesmmc/img/bottom_b.gif) repeat-x 0 bottom; padding-bottom:9px}
#mys .ums2 a{ float:left; margin:1px 2px;_margin:1px 2px 1px 1px;width:84px;height:20px;overflow:hidden; line-height:19px;line-height:22px\9;*line-height:18px; color:#555; text-align:center;display: block; background:#DBDBDB url(../../static/image/yesmmc/img/mya.png) no-repeat 0 0}
#mys .ums2 a:hover{color:#fff;background:#999 url(../../static/image/yesmmc/img/mya.png) no-repeat 0 0;	text-decoration: none;}
#mys .ums2 .new{background-color:#f2c9c9;background-position:0 -20px; color:#C60000}
#mys .ums2 .new:hover{background-position: 0 -20px;background-color:#EDB3B3;color:#BB0000;}
#mys .ums2 .lot{background-position:0 -40px}
#mys .ums2 .lot:hover{background-position: 0 -40px}
#mys .adm{}
#mys .adm a{ background:#8CA011 url(../../static/image/yesmmc/img/mya.png) no-repeat 0 0; color:#fff}
#mys .adm a:hover{ background:#8CA011 url(../../static/image/yesmmc/img/mya.png) no-repeat 0 0; color:#E9F5A1}
#mys .logx{ float: left;width:154px; padding:4px 4px;background:url(../../static/image/yesmmc/img/bottom_b.gif) repeat-x 0 bottom; padding-bottom:9px}
#mys .logx a{ color:#2A5887}
#mys .logs{ color:#888; background:none}
#mys .ums3{float:left;width:178px;padding:4px 0px 2px 0px;}
#mys .ums3 a{float:left;margin:1px 2px 1px 6px;_margin:1px 2px 1px 4px;width:51px;padding-top:42px;height:22px;color:#39484F;display:block;background-repeat:no-repeat;background-position:5px 0px; text-align:center;}
#mys ul{ float: left;width:200px;}
#nv_e{ background:#1E1E1E}
/*--------------------------------------------------------------------*/
#head_b{background:url(../../static/image/yesmmc/img/head.gif) repeat-x 0 bottom; width:100%;height:50px; border-top:1px solid #fefefe}
#head_b .head_b{width:972px; margin:0 auto;height:45px;overflow:hidden; padding-top:7px}
#head_b .r{ float:right; width:200px}
#head_b #scs{ float:right; padding-top:0px; width:200px; height:26px; background:url(../../static/image/yesmmc/img/head_b.gif) no-repeat 0 0}
#head_b #scs .showmenu{ color:#666; padding-left:10px; line-height:24px;}
#head_b #scs .px{ border:none; width:152px;background:none; color:#999; font-size:12px;margin-left:12px; padding:1px 0 0 0px;padding:2px 0 0 0px\9}
#head_b #scs .hsea{border:none; background:none;display: block;width:29px;height:26px;cursor: pointer;}
#head_b #scs.a{position: relative;z-index:302;background:url(../../static/image/yesmmc/img/head_b.gif) no-repeat 0 -126px}
.scspy{ border:1px solid #BDBDBD; border-top:none; margin-top:-1px; background:#fff; width:188px; padding:5px 5px 10px 5px;}
.scspy #scs_t .xw1{ float:left;font-size:12px; width:178px; padding:0 5px 5px 5px;background:url(../../static/image/yesmmc/img/bottom_b.gif) repeat-x 0 bottom; margin-bottom:7px;}
.scspy #scs_t .xw1 a{ float: right;font-size:12px; font-weight:normal; color:#EAA805}
.scspy #scs_t a{margin:0 6px 3px 5px;float:left;white-space: nowrap;}
.scspy #scs_t .pxxl{margin-top:3px; height:18px;line-height:18px;_line-height:15px; width:31px; overflow:hidden;background:url(../../static/image/yesmmc/img/head_b.gif) no-repeat right -97px;padding:4px 8px 3px 3px!important; border:none; text-align:center}
.scspy #scs_t .sx{ margin-top:3px; margin-left:0px;background:#F5F5F5; padding:4px 3px 3px 3px; height:18px; line-height:18px;_line-height:15px; overflow:hidden; margin-bottom:8px; float:left; width:128px;}
.scspy #scs_t .sx li{ float:left}
#head_b .z {float:left; width:750px;padding-top:2px}
#head_b .z a{float:left;color:#666;text-align:center; margin-right:5px;padding:1px 6px;height:21px;line-height:21px;line-height:24px\9;_line-height:21px;display: block;}
#head_b .z a:hover{color:#0657B2}
#head_b .z .discuz{background:url(../../static/image/yesmmc/img/head_b.gif) no-repeat 0 -31px ;padding:0px; margin-right:9px;width:134px; height:23px;}
#head_b .z .discuz:hover{background:url(../../static/image/yesmmc/img/head_b.gif) no-repeat 0 -31px;filter:alpha(opacity=80);opacity:0.8;}
#head_b .z .pipe{display: none;}


#head_a {}
#head_a .head_a{width:960px; height:82px; padding-top:18px; margin:0 auto; overflow:hidden; background:url(../../static/image/yesmmc/img/headerbg.gif) bottom right no-repeat;}
#head_a .head_menu{ height:33px; padding-top:7px; overflow:hidden; background:url(../../static/image/yesmmc/img/yesmc_tabbg.gif);}
#nv{overflow:hidden;padding-left:3px;height:33px;;}
#nv li{float:left;padding-right:1px; padding-left:1px; height:33px; line-height:33px;background:url(../../static/image/yesmmc/img/nv_a.png) no-repeat 100% 0;font-weight:700;font-size:14px;}
.ie_all #nv li{line-height:36px;}
.ie6 #nv li{line-height:33px;}
#nv li a{float:left;padding:0 20px;height:33px;}
#nv li a{color:#FFF;}
#nv li span{display:none;}
#nv li.a{margin-left:0px;background:#005AB4 url("../../static/image/yesmmc/img/nv_a.png") no-repeat 50% -33px;}
#nv li.a a{color:#000;}
#nv li a:hover{color:#000; background:url(../../static/image/yesmmc/img/nv_a.png) no-repeat 50% -66px;}
#nv li.hover a:hover,#nv li.hover a{background:url(../../static/image/yesmmc/img/nv_a.png) no-repeat 50% -99px;}
.mu_a{position:relative;z-index:1; width:600px; float:left;}
.ie6 #mu,.ie7 #mu{line-height:0;font-size:0;}
.mu_a ul{line-height:22px;z-index:2;font-size:12px;}
.mu_a li{float:left;height:32px}
.mu_a a{float:left;display:inline;margin:5px 6px;padding:0 10px;white-space:nowrap;}
.mu_a a:hover{margin:4px 5px;border:1px solid #cdcdcd;background:#ebebeb;color:#369;text-decoration:none;}

#head_t a.ypm {background: url("../../static/image/yesmmc/img/pm.gif") no-repeat 0px 9px; padding-right: 4px; padding-left: 15px; color:#b8d415;}
#head_t a.ytx {background: url("../../static/image/yesmmc/img/notice.gif") no-repeat 0px 6px; padding-right: 8px; padding-left: 17px; color:#b8d415;}

.fl .bm_h{BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(../../static/image/yesmmc/img/bbs_tit.gif) repeat-x; HEIGHT: 35px; padding-top:5px; BORDER-TOP: medium none; BORDER-RIGHT: medium none}
.fl .bm_h h2{ font-size:16px; color:#cc0000;}
.fl .bm_h h2 a{ color:#cc0000;}

#pt{height:36px;border:1px solid #CCC;line-height:36px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;behavior:url(pureing/ofiecss.htc);margin-bottom:5px;background:#ECEDED url(../../static/image/yesmmc/img/pt_bg.png) repeat-x 0 50%;}
.ie8 #pt{line-height:39px;}
#wp #pt .y{width:520px;}
#pt .z em{width:18px;padding-right:30px;background:url(../../static/image/yesmmc/img/pt_arrow.png) no-repeat 0 0;line-height:200px;overflow:hidden;}
#pt .z a{text-decoration:none;background:none;padding:0 10px 0 0px;margin-left:-18px;}
#pt .z span{padding:0 10px;}
#pt .z a:hover{color:#000;}
#pt .z a,#pt .z em,#pt .z span{float:left;height:36px;}
#pt .z .nvhm{padding:0px;margin:0 0 0 1px;width:72px;margin-right:-20px;background:url(../../static/image/yesmmc/img/pt_home.png) no-repeat 0 0;line-height:200px;overflow:hidden;}
.ie_all #pt .z em{background-position:0 0;}
.ie_all .nvhm{background-position:0 0;}


/* ----------------------footer--------------------------- */
.footers{background:#C8C8C8 url(../../static/image/yesmmc/img/footer.gif) repeat-x 0 0; height:110px!important; padding: 10px 0 0px; overflow:hidden; margin-top:10px; padding-top:0px!important; border:none!important}
.footers #ft{padding:0px!important; overflow:hidden; border:none!important}
.foot{width:960px; margin:0 auto; padding-left:6px; height:25px;padding-top:13px;}
.foot a{ color:#333;}
.foot .pipe{color:#999;padding:0 3px;}
.foob{width:960px; margin:0 auto;padding-top:7px; color:#666}
.foob .l{ float:left; width:230px; height:54px; background:url(../../static/image/yesmmc/img/f_logo.gif) no-repeat 0 3px} 
.foob .l a{width:115px;height:54px;display: block; float:left} 
.foob .l .d{width:110px;height:54px;display: block;} 
.foob .c{ float:left; width:720px;height:60px; overflow:hidden; padding-top:8px; padding-left:10px;} 
.foob .c a{ color:#555;margin-right:5px} 
.foob .c .zyesmmc{ font-size:11px; } 
.foob .r { float:right; width:100px;height:46px;text-align:right;padding-top:8px; line-height:46px;} 
#scrolltop {background: url("../../static/image/yesmmc/img/scrolltop.png") no-repeat 50% 0px;}
#scbar {background: url("../../static/image/yesmmc/img/search.png") repeat-x 0px -150px; border: 0px solid rgb(229, 237, 242); height: 44px; line-height: 44px; overflow: hidden;}
/*sundefineduundefinedu*/
.shpop{ padding:5px 8px 15px 12px;width:188px;border:1px solid #aaa; border-top:none;background:#fff;margin-top:-1px; margin-left:1px}
.shpop h3{ padding:5px 3px 8px 2px;font-family:'Hiragino Sans GB','Microsoft YaHei','undefineduS',Helvetica,Arial,sans-serif; font-size:12px; margin-bottom:4px;background: url(../../static/image/yesmmc/img/bottom_b.gif) repeat-x 0 bottom; color:#2D3444}
.shpop ul{ margin-bottom:10px; float:left}
.shpop a{ float:left; margin:0 2px 2px 2px;padding:2px 0;background:url(../../static/image/yesmmc/img/weibo.gif) no-repeat 0 0; width:68px; padding-left:22px}
.shpop .tx{background-position:0 3px;}
.shpop .xl{background-position:0 -28px;}
.shpop .wy{background-position:0 -59px;}
.shpop .qq{background-position:0 -89px;}
.shpop .fa{background-position:0 -120px;}
.shpop .tw{background-position:0 -151px;}
.shpop .tjh{background-position:0 -211px;_background-position:0 -209px;}
.shpop .rr{background-position:0 -182px;_background-position:0 -180px;}
.srss{ margin:5px 0 0px 0; float:left;}
.srss h3{background: url(../../static/image/yesmmc/img/bottom_b.gif) repeat-x 0 0; margin-bottom:0px;padding-top:15px}
.srss h3 span{ font-size:14px; font-weight:normal; color:#666}
.srss .btsr{ border:1px solid #D0D0D0;width:173px;background:#fff url(../../static/image/yesmmc/img/pxa.gif) repeat-x 0 0;padding:0 5px;height:26px;line-height:26px; margin-bottom:6px; float:left;}
.srss .btan{border:1px solid #D0D0D0;background:#fff url(../../static/image/yesmmc/img/bsi_bg.gif) repeat-x 0 -1px; font-weight:bold; padding:5px 10px;*padding:3px 6px;float:left;cursor: pointer;}
.srss .btan:hover{ border:1px solid #8A9E00;background:#B5CF00 url(../../static/image/yesmmc/img/bsi_bg.gif) repeat-x 0 -171px;color:#525E00}
.rfm{ border-bottom:none;}
.rfm label{ font-size:14px;line-height:28px;font-family:"Microsoft Yahei","undefineduoundefineduundefinedu",Tahoma,Arial,Helvetica,STHeiti;cursor:default; margin-right:8px}
.rfm .px{ height:25px; line-height:25px; font-size:14px;margin-right:8px}
.pn{ height:26px; padding:0 5px; line-height:26px!important; color:#666;background:#fff url(../../static/image/yesmmc/img/bsi_bg.gif) repeat-x 0 0px; border:1px solid #ddd; border-bottom:1px solid #aaa; border-right:1px solid #aaa}
.pn strong,.pn span,.pn em{color:#444; font-weight:normal}
.pn:active { background-position: 0 0px; }
.flb{ margin-bottom:5px; padding-left:10px!important;background:url(../../static/image/yesmmc/img/head.gif) repeat-x 0 -194px; padding-bottom:6px!important}
.pc_l, .pc_c, .pc_inner, .pc_r {filter: progid:dximagetransform.microsoft.alpha(opacity=90);opacity:0.9;background: url(../../static/image/yesmmc/img/popa_bg.gif) no-repeat 0 0;}
.pc_c { width: 200px; background-position: 0 -56px; background-repeat: repeat-x; }
.pc_inner { white-space: nowrap; text-align: center; width: auto; background-position: 50% -112px; }
.pc_inner i {color:#444;}
.pc_inner span { margin-right: 15px; color:#DF3510; font-size: 14px; font-weight: 700; }
.pc_r { background-position: -30px 0; }
.pc_inner span a { color: #444;}
.pc_inner span em { color:#DF3510;}		
.pc_inner span em.desc { color: #444; }

.ct2 { margin-top:5px}
.ct2 .mn { float: left; width: 730px; margin-bottom: 1em; }
.bm_h .o img{float:right;margin-top:4px;cursor:pointer;}
.bm20{ margin-top:20px; }
.bm_h .o{float:right;width:70px;}


.contpop{padding:5px 10px 0px 11px;width:230px;border:1px solid #aaa;border-top:none;background:#fff url(../../static/image/yesmmc/img/vorbg.gif) no-repeat right 65px;margin-top:0px;margin-left:1px}
.contpop h3{padding:5px 3px 9px 2px;font-family:'Hiragino Sans GB','Microsoft YaHei',Helvetica,Arial,sans-serif;font-size:14px;margin-bottom:7px;background:url(../../static/image/yesmmc/img/bottom_b.gif) repeat-x 0 bottom;color:#2D3444}
.contpop h3 .h{font-size:12px;font-weight:normal;color:#666}
.contpop h3 .h a{color:#666;text-decoration:underline;}
.contpop ul{margin-bottom:15px;}
.contpop p{background:url(../../static/image/yesmmc/img/conus.png) no-repeat 0 0px;font-size:14px;padding-left:21px;margin-bottom:5px}
.contpop p a{color:#657215}
.contpop p em{color:#666;}
.contpop .j{color:#888;margin-left:5px;font-size:12px;}
.contpop .q{background-position:0px 2px;}
.contpop .m{background-position:0px -92px;}
.contpop .e{background-position:0px -31px;}
.contpop .d{background-position:0px -62px;}
.contpop .qq{background:url(../../static/image/yesmmc/img/qq_q.gif) no-repeat 0 3px;padding-top:1px;}
.contpop .qq a{font-size:12px;background:#D5EFFF;color:#3C5260;margin-left:8px;padding:1px 6px;*padding:2px 6px 1px 6px;border-bottom:1px solid #B0C3CE;border-right:1px solid #B0C3CE}






















/*---------------------------- Portal Style By YesMMC Studio ----------------------------*/
.portal_col_01 {width: 960px; height: 671px; padding-top: 10px;}
.portal_col_02 {width: 960px; height: 1104px;}
.portal_col_03 {width: 960px; padding-top:10px;}
.portal_box_01 {width: 520px; height: 90px; float: left;}
.portal_box_02 {background: url("../../static/image/yesmmc/img/bg_today.png") repeat-x rgb(255, 255, 255); width: 430px; height: 500px; margin-left: 10px; float: right;}
.portal_box_03 {width: 210px; height: 570px; margin-top: 10px; float: left;}
.portal_box_04 {width: 300px; height: 400px; margin-top: 10px; margin-left: 10px; float: left;}
.portal_box_05 {width: 740px; height: 160px; margin-top: 10px; margin-left: 10px; float: left;background: rgb(204, 204, 204);}
.portal_box_06 {width: 630px; height: 1104px; padding-right: 10px; float: left;}
.portal_box_07 {width: 320px; height: 1104px; float: left;}
	
.SuperStar {background: rgb(239, 239, 239); padding: 0px 4px; border: 1px solid rgb(215, 215, 215); width: 200px; height: 238px;}
.SuperStar_title {background: url("../../static/image/yesmmc/img/mmc_title_01.png") no-repeat center; width: 200px; height: 60px;}
.SuperStar_one {background: rgb(227, 67, 32); padding:10px; border: 1px solid rgb(255, 255, 255); width: 178px; height: 98px;}
.SuperStar_l {background: rgb(227, 67, 32); border: 3px solid rgb(255, 255, 255); width: 92px; height: 92px; float: left;}
.SuperStar_r {width: 72px; height: 98px; color: rgb(255, 255, 255); overflow: hidden; padding-left: 8px; font-family: Georgia; float: left;}
.SuperStar_r h2 {font-size: 14px;}
.SuperStar_r a {color: rgb(255, 255, 0);}
.SuperStar_r a:hover {color: rgb(255, 255, 255); text-decoration: none;}
.SuperStar_two {background: rgb(255, 255, 255); width: 200px; height: 50px; overflow:hidden;}
.SuperStar_two li {border: 1px solid rgb(255, 255, 255); width: 48px; height:48px; float: left; overflow:hidden;}

.Focus {width: 210px; height: 320px; margin-top: 10px;}
.Focus_box {background: url("../../static/image/yesmmc/img/bg_doing.png") repeat-x rgb(255, 255, 255); padding: 0px 7px; border: 1px solid rgb(215, 215, 215); width: 194px; height: 287px;}
.Focus_one {width: 194px; height:64px;color: rgb(102, 102, 102);}
.Focus_one h2 {text-align: center; line-height: 30px; font-size: 14px;}
.Focus_two {width: 194px; margin-top: 10px;}
.Focus_two li {width: 194px; height: 27px; line-height: 15px;}
.Focus_two span {background: rgb(174, 174, 174); width: 36px; height: 15px; text-align: center; color: rgb(255, 255, 255); line-height: 15px; font-family: Arial; font-size: 0.83em; margin-right: 5px; float: left; display: block; -webkit-text-size-adjust: none;}

.FocusPic {	border: 1px solid rgb(215, 215, 215); width: 298px; height: 398px; overflow:hidden;}

.everyday {width: 64px; height: 59px; right: 0px; overflow: hidden; position: absolute;}
.today {width: 64px; height: 59px; display: block;}
.yestday {width: 64px; height: 59px; display: block;}
.everyday img {cursor: pointer;}
.pic_lb .on {display: none;}
.pic_lb {position: relative;}
#today_con_1 {border: 1px solid rgb(238, 87, 2); width: 428px; height: 498px;}
#today_con_2 {border: 1px solid rgb(166, 166, 166); width: 428px; height: 498px;}
.today_title {background: url("../../static/image/yesmmc/img/mmc_title_03.png") no-repeat; width: 428px; height: 50px;}
.today_one {padding: 0px 10px; width: 408px; height: 165px;}
.today_one li {padding:5px 0px; color: rgb(153, 153, 153); border-bottom-color: rgb(207, 207, 207); border-bottom-width: 1px; border-bottom-style: dashed;}
.today_one h2 {text-align: center; line-height: 200%; font-size: 16px;}
.today_two {padding: 0px 10px; width: 408px; height: 270px;}
.today_two li {height: 27px; font-size: 14px;}
.today_two em {color: rgb(153, 153, 153); font-family: Georgia; font-size: 12px; float: right;}
.today_two span {color: rgb(255, 51, 0); font-size: 12px; margin-right: 5px;}
.today_two span a {color: rgb(255, 51, 0);}
.today_two span a:hover {color: rgb(255, 51, 0);}
.today_two_t {width: 408px; border-bottom-color: rgb(207, 207, 207); border-bottom-width: 1px; border-bottom-style: dashed;}
.today_two_b {width: 408px; padding-top: 5px;}


.Trend_title {background: url("../../static/image/yesmmc/img/bg_trend.gif"); width: 740px; height: 33px;}
.Trend_title h2 {background: url("../../static/image/yesmmc/img/mmc_title_04.png"); width: 260px; height: 33px;}
.Trend_title em {background: url("../../static/image/yesmmc/img/icon_more.png"); width: 33px; height: 9px; margin-top: 12px; margin-right: 20px; float: right;}
.Trend_title a {width: 33px; height: 9px; display: block;}
.Trend_col {background: url("../../static/image/yesmmc/img/bg_trendbox.png"); border: 1px solid rgb(215, 215, 215); width: 738px; height: 125px;}
.Trend_box {padding: 0px 10px; width: 226px; height: 125px; overflow: hidden; float: left;}
.Trend_box_t {width: 226px; height: 24px; padding-top: 7px;}
.Trend_box_b {width: 226px; height: 96px;}
.Trend_box_b img {width: 80px; height: 80px; border: 1px solid rgb(204, 204, 204);}
.Trend_box_l {width: 82px; height: 82px; margin-right: 5px; float: left;}
.Trend_box_r {width: 139px; height: 82px; float: left;}
.Trend_box_r span {width: 10px; text-align: center; color: rgb(255, 0, 0); line-height: 20px; font-weight: bold; float: left; display: block;}
.Trend_box_r li {width: 139px; height: 20px; overflow: hidden;}


.Forum_col {width: 630px; height: 420px; overflow: hidden;}
#Tab_one {margin: 0px auto; padding: 0px; width: 630px;}
.Menubox_one li.title {width: 230px; background-image: url("../../static/image/yesmmc/img/mmc_title_08.png"); background-repeat: no-repeat;}
.Menubox_one {background: url("../../static/image/yesmmc/img/bg_trend.gif"); width: 100%; height: 40px; line-height: 40px;}
.Menubox_one ul {margin: 0px; padding: 0px;}
.Menubox_one li {width: 90px; text-align: center; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; float: left; display: block; cursor: pointer;}
.Menubox_one li.hover {background: rgb(255, 255, 255); padding: 0px; width: 90px; height: 35px; color: rgb(0, 0, 0); line-height: 30px; font-size: 14px; font-weight: bold; margin-top: 5px; border-top-color: rgb(205, 205, 205); border-right-color: rgb(205, 205, 205); border-left-color: rgb(205, 205, 205); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid;}
.Contentbox_one {background: rgb(255, 255, 255); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(215, 215, 215) rgb(215, 215, 215); padding: 8px 4px; height: 360px; clear: both; margin-top: 0px;}
.Forum_top {padding: 0px 5px; width: 610px; height: 245px;}
.Forum_left {width: 176px; height: 235px; padding-right: 10px; float: left;}
.Forum_left img {border: 1px solid rgb(204, 204, 204);}
.Forum_right {width: 424px; height: 235px; float: left;}
.Forum_content {width: 424px; height: 70px;}
.Forum_content h2 {text-align: center; line-height: 30px; font-size: 16px; font-weight: bold;}
.Forum_content span {padding: 0px 10px; width: 404px; color: rgb(153, 153, 153); display: block;}
.Forum_list {width: 424px; height: 165px;}
.Forum_list li {height: 22px; line-height: 22px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dashed;}
.Forum_list span a {color: rgb(255, 51, 0);}
.Forum_list span a:hover {color: rgb(102, 0, 102); text-decoration: none;}
.Forum_list em {float: right;}
.Forum_list em a {color: rgb(153, 153, 153);}
.Forum_bottom {background: url("../../static/image/yesmmc/img/bg_forumpic.png") no-repeat 5px 0px; padding: 13px 0px 0px 13px; width: 607px; height: 100px; overflow: hidden;}
.Forum_bottom li {padding: 0px 5px; width: 75px; height: 100px; text-align: center; float: left;}
.Forum_bottom img {border: 1px solid rgb(204, 204, 204);}
.Forum_bottom span {text-align: center; line-height:24px;}


.Member_col {background: rgb(239, 239, 239); padding: 7px; border: 1px solid rgb(215, 215, 215); width: 614px; height: 241px; overflow: hidden; margin-top: 10px;}
.Member_title {background: url("../../static/image/yesmmc/img/mmc_title_09.png") no-repeat; width: 400px; height: 31px; padding-left: 214px;}
.Member_box {background: rgb(97, 97, 97); padding: 6px 7px; _padding:5px 7px; width: 600px; height: 200px;}
.Member_box li {padding: 1px; width: 48px; height: 48px; float: left;}
.membersearch {background: url("../../static/image/yesmmc/img/pn.gif"); border: 1px solid rgb(153, 153, 153); width: 48px; height: 23px;}


.Group_col {width: 630px; height: 407px; overflow: hidden; margin-top: 10px;}
.Group_title {background: url("../../static/image/yesmmc/img/bg_trend.gif"); width: 630px; height: 40px;}
.Group_title h2 {background: url("../../static/image/yesmmc/img/mmc_title_10.png"); width: 160px; height: 40px; float: left;}
.Group_title em {text-align: right; color: rgb(204, 204, 204); margin-top: 10px; margin-right: 20px; float: right;}
.Group_title a {color: rgb(204, 204, 204);}
.Group_title a:hover {color: rgb(255, 255, 255); text-decoration: none;}
.Group_box {padding: 10px; border: 1px solid rgb(215, 215, 215); width: 608px; height: 345px; overflow: hidden;}
.Group_l {width: 302px; height: 345px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: dashed; float: left; overflow:hidden;}
.Group_r {width: 290px; height: 345px; margin-left: 15px; float: left; overflow:hidden;}
.Group_l a {background: rgb(238, 238, 238); padding: 4px; width: 280px; height: 56px; margin-bottom: 6px; display: block; overflow:hidden;}
.Group_l a:hover {background: rgb(255, 204, 153); text-decoration: none;}
.Group_l img {background: rgb(255, 255, 255); padding: 3px; border: 1px solid rgb(204, 204, 204); width: 48px; overflow: hidden; margin-right: 5px; float: left;}
.Group_l span {color: rgb(255, 51, 0); font-weight: bold; display: block;}
.Group_one {width: 290px; height: 76px;}
.Group_one h2 {background: url("../../static/image/yesmmc/img/num_01.png") no-repeat; height: 25px; line-height: 25px; padding-left: 35px; font-size: 14px;}
.Group_one span {width: 290px; height: 50px; color: rgb(153, 153, 153); line-height: 22px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dashed; display: block;}
.Group_two {background: url("../../static/image/yesmmc/img/num_02.png") no-repeat; padding: 5px 0px 5px 27px; width: 263px; height: 105px; margin-top: 5px;}
.Group_two li {height: 26px;}
.Group_ad {background: rgb(153, 153, 153); width: 290px; height: 148px;}


.Blog_col {background: rgb(247, 247, 247); border: 1px solid rgb(215, 215, 215); width: 318px; height: 1102px;}
.Blog_title {background: url("../../static/image/yesmmc/img/bg_blog.jpg"); width: 318px; height: 39px;}
.Blog_title h2 {background: url("../../static/image/yesmmc/img/mmc_title_11.png") no-repeat; width: 150px; height: 39px;}
.Blog_box {padding: 5px; width: 308px; height: 1053px;}
.Blog_t {background: rgb(230, 230, 230); padding: 3px 5px; width: 298px; height: 22px; color: rgb(69, 85, 108); font-size: 14px; font-weight: bold;}

.Blog_one {width: 308px;}
.Blog_one_list {width: 308px; height: 280px; overflow: hidden; position: relative;}
#con {width: 308px; height: 280px; overflow: hidden; position: relative;}
#con ul {padding: 0px; left: 0px; top: 0px; position: absolute;}
#con ul li {padding: 10px 5px 5px 5px; _padding:7px 5px 5px 5px; width: 298px; height:40px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dashed; list-style-type: none; overflow: hidden;}
#con ul li dt {width: 50px; float: left;}
#con ul li dt img {background: rgb(255, 255, 255); padding: 2px; border: 1px solid rgb(204, 204, 204);}
#con ul li dd {width: 248px; float: left;}
#con ul li span {width: 238px; height: 20px; color: rgb(51, 51, 51); overflow: hidden; display: block;}
#con ul li em {text-align: right; color: rgb(153, 153, 153); font-family: Georgia; float: right;}
#con ul li a.user {color: rgb(255, 0, 0); font-weight: bold;}
#con ul li a.user:hover {text-decoration: none;}
.Blog_one_post {	padding: 10px 5px 0px; width: 298px; height: 85px; color: rgb(0, 255, 255);}
.Blog_one_post_c {	color: rgb(102, 102, 102); padding-top: 5px; padding-left: 5px;}
.Blog_one_post_c span {	margin-right: 20px;}
.Blog_btn {	background: url("../../static/image/yesmmc/img/mmc_mood_input_btn.png") no-repeat;}
.Blog_btn button {	width: 53px; height: 58px; filter: alpha(opacity=0); cursor: pointer; opacity: 0;}
.Blog_input {	background: url("../../static/image/yesmmc/img/mmc_mood_input.png") no-repeat 0px 0px rgb(205, 205, 205); width: 240px; height: 58px;}
.Blog_input {	background-color: rgb(194, 213, 227);}
.Blog_input textarea {	margin: 2px 0px 0px 4px; padding: 0px; border: currentColor; width: 226px; height: 51px;}

.Blog_two {width: 308px; height: 207px; overflow: hidden; margin-top: 10px;}
.Blog_photo {width: 308px; margin-top: 10px;}
.Blog_photo a {padding: 2px; width: 98px; height: 167px; text-align: center; float: left; display: block;}
.Blog_photo a:hover {background: rgb(255, 51, 102); color: rgb(255, 255, 255); text-decoration: none;}
.Blog_photo span {width: 98px; overflow: hidden; margin-top: 5px; display: block;}

.Blog_three {width: 308px; margin-top:10px;}
.Blog_blog_list {width: 308px; margin-top:5px; height:390px; overflow:hidden;}
.Blog_blog_list a {background: rgb(238, 238, 238); padding:5px; width: 308px; height:63px;  margin-bottom:5px; display: block;}
.Blog_blog_list a:hover {background: rgb(204, 204, 204); text-decoration: none;}
.Blog_blog_list img {background: rgb(255, 255, 255); padding: 4px; overflow: hidden; margin-right: 5px; float: left;}
.Blog_blog_list h2{color: rgb(255, 51, 0); float:left;}
.Blog_blog_list span{ width:230px; float:left; display:block; height:40px;}

.FriendLinks{ width:938px; border: 1px solid rgb(204, 204, 204); padding:10px;}
.FriendLinks li{ float:left; padding:5px; width:88px; text-align:left;display: table-cell;vertical-align:middle;*display: block;*font-family:Arial;}
.FriendLinks img {vertical-align:middle;}











/*---------------------------- Forum Style By YesMMC Studio ----------------------------*/
.Forum_col_01{ width:708px; border:1px solid #c4c4c4; padding:10px; height:417px; margin-bottom:10px; background:#FFF;}
.Forum_box_01{ width:340px; padding-right:6px; border-right:1px solid #c4c4c4; float:left;}
.Forum_box_02{ width:355px; padding-left:6px; float:left;}
.Forum_box_02 li{ width:355px; border-bottom:1px dashed #cdcdcd; height:138px;}
.Forum_box_02 h2{ font-size:20px; padding-top:5px; padding-bottom:5px; display:block; overflow: hidden; width:355px; height:30px;}
.Forum_box_02 img{ float:left; border:3px solid #e0e0e0; margin-right:5px;}
.Forum_box_02 span{ display:block;}
.Forum_box_02 span a{ color:#666666;}
.Forum_box_02 em{ float:right; color:#999999}
.Forum_moment{ width:340px;}
.Forum_moment_t { width:340px; height:57px; background:url("../../static/image/yesmmc/img/moment.jpg");}
.Forum_moment_b { width:328px; height:60px; background:#f2f2f2; border:1px solid #d1d1d1; padding:5px; margin-top:10px;}
.Forum_moment_b li{ float:left; width:138px; padding-left:12px; padding-right:14px; overflow:hidden; height:20px; line-height:20px; background:url("../../static/image/yesmmc/img/i-dot.png") no-repeat left;}
.Forum_moment_b li a{ color:#504f4f;}
.Forum_col_02{ width:220px; overflow:hidden;}
.Forum_box_03{ width:200px; height:110px; border:1px solid #cdcdcd; padding:9px; background:#fff; margin-bottom:10px;}
.Forum_star_t{ width:200px; height:25px; background:url("../../static/image/yesmmc/img/forum_star.png") no-repeat;}
.Forum_star{ width:190px; height:74px; background:#333333; padding:5px;}
.Forum_star h2{ display:block; overflow:hidden;}
.Forum_star img{ float:left; border:2px solid #cdcdcd; margin-right:5px;}
.Forum_star span{ color:#FFFFFF;}
.Forum_star a{ color:#FFFF00;}
.Forum_box_04 { width:200px; height:279px; border:1px solid #cdcdcd; padding:9px; background:#fff; margin-bottom:10px; overflow:hidden;}
.Forum_member_t{ width:200px; height:27px; background:url("../../static/image/yesmmc/img/forum_member.png") no-repeat;}
.Forum_member{ width:200px; height:260px; padding:5px 0;}
.Forum_member li{padding:0 0 5px;width:66px;}
.Forum_member .avt{display:block;margin:0 auto;width:54px;}
.Forum_member img{width:48px;height:48px;}
.Forum_member p{margin-top:5px; margin-bottom:5px;}
.dis {DISPLAY: block}
.undis {DISPLAY: none}
.tab_jp {WIDTH: 218px; HEIGHT: 37px}
.tab_jp LI {BORDER-BOTTOM: #d0d0d0 1px solid; TEXT-ALIGN: center; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND: #ddd; FLOAT: left; HEIGHT: 25px; BORDER-TOP: medium none; BORDER-RIGHT: #d0d0d0 1px solid; PADDING-TOP: 10px}
.tab_jp .active {BORDER-BOTTOM: medium none; BACKGROUND: #f1f1f1}
.rizhi {BACKGROUND: #f1f1f1}
.rank_list {PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 5px}
.rank_list LI {LINE-HEIGHT: 26px; PADDING-LEFT: 14px; BACKGROUND: url(../../static/image/yesmmc/img/ldotted.gif) no-repeat 0px 9px; HEIGHT: 26px; OVERFLOW: hidden}
.tab_jp .prz UL LI {WIDTH: 182px;}

.avatarbox{float:left;border:1px solid #CCC;padding:1px;margin-left:8px;margin-right:8px;}
.avatarbox-info{margin-left:58px;position:relative}
.avatarbox-info .lastpost{position:absolute;top:2px;right:20px;color:#CCC;_right:78px}
.sub-tit{padding:2px 0 4px}
.sub-infos,.sub-infos a{color:#999;font-size:12px;}
.sub-infos span{margin:0 2px}



