<!--{subtemplate common/header}-->
<style id="diy_style" type="text/css"></style>
<script>
<!--
function setTab(name,cursel,n){
for(i=1;i<=n;i++){
var menu=document.getElementById(name+i);
var con=document.getElementById("con_"+name+"_"+i);
menu.className=i==cursel?"hover":"";
con.style.display=i==cursel?"block":"none";
}
}
//-->
</script>
<script src="../../static/image/yesmmc/js/menu.js" type="text/javascript"></script>
<div class="wp">

<div class="portal_col_01">
	<div class="portal_box_01">
		<!--[diy=YesMMC_ad01]--><div id="YesMMC_ad01" class="area"></div><!--[/diy]-->
	</div>
	
	<!--头版头条模块-->
	<div class="portal_box_02">
		<DIV class=pic_lb>
			<UL class=everyday id=todaymenu>
			  <LI class="today" id=todaymenu_1><IMG src="../../static/image/yesmmc/img/yestday.gif"></LI>
			  <LI class="yestday on" id=todaymenu_2><IMG src="../../static/image/yesmmc/img/today.gif"></LI>
			</UL>
			<DIV class=pic_right><!--更改切换-->
				<DIV id=today_con_1>
					<div class="today_title"></div>
					<div class="today_one"><!--[diy=YesMMC_diy05]--><div id="YesMMC_diy05" class="area"></div><!--[/diy]--></div>
					<div class="today_two">
						<div class="today_two_t">
							<!--[diy=YesMMC_diy06]--><div id="YesMMC_diy06" class="area"></div><!--[/diy]-->
						</div>
						<div class="today_two_b">
							<!--[diy=YesMMC_diy07]--><div id="YesMMC_diy07" class="area"></div><!--[/diy]-->
						</div>
					</div>
				</DIV>
				<DIV id=today_con_2 style="DISPLAY: none">
					<div class="today_title"></div>
					<div class="today_one"><!--[diy=YesMMC_diy08]--><div id="YesMMC_diy08" class="area"></div><!--[/diy]--></div>
					<div class="today_two">
						<div class="today_two_t">
							<!--[diy=YesMMC_diy09]--><div id="YesMMC_diy09" class="area"></div><!--[/diy]-->
						</div>
						<div class="today_two_b">
							<!--[diy=YesMMC_diy10]--><div id="YesMMC_diy10" class="area"></div><!--[/diy]-->
						</div>
					</div>
				</DIV>
				<SCRIPT type=text/javascript>
				var SubShow_01 = new SubShowClass("todaymenu","onmousedown",0,"on","");
				for(var i=1;i<=2;i++){
				SubShow_01.addLabel("todaymenu_"+i,"today_con_"+i,"","","");
				}
				</SCRIPT>
			</DIV>
		</DIV>
	</div>
	<!--头版头条模块-->
	
	<!--全城聚焦模块-->
	<div class="portal_box_03">
		<div class="SuperStar">
			<div class="SuperStar_title"></div>
			<div class="SuperStar_one"><!--[diy=YesMMC_diy00]--><div id="YesMMC_diy00" class="area"></div><!--[/diy]--></div>
			<div class="SuperStar_two"><!--[diy=YesMMC_diy01]--><div id="YesMMC_diy01" class="area"></div><!--[/diy]--></div>
		</div>
		<div class="Focus">
			<img src="../../static/image/yesmmc/img/mmc_title_02.png" />
			<div class="Focus_box ">
				<div class="Focus_one"><!--[diy=YesMMC_diy02]--><div id="YesMMC_diy02" class="area"></div><!--[/diy]--></div>
				<div class="Focus_two"><!--[diy=YesMMC_diy03]--><div id="YesMMC_diy03" class="area"></div><!--[/diy]--></div>
				<!--[diy=YesMMC_ad02]--><div id="YesMMC_ad02" class="area"></div><!--[/diy]-->
			</div>
		</div>
	</div>
	<!--全城聚焦模块-->
	
	<!--幻灯片模块-->
	<div class="portal_box_04">
		<div class="FocusPic"><!--[diy=YesMMC_diy04]--><div id="YesMMC_diy04" class="area"></div><!--[/diy]--></div>
	</div>
	<!--幻灯片模块-->
	
	<!--文章模块-->
	<div class="portal_box_05">
		<div class="Trend_title">
			<em><a href="#" target="_blank"></a></em>
			<h2></h2>
		</div>
		<div class="Trend_col">
			<div class="Trend_box">
				<div class="Trend_box_t"><IMG src="../../static/image/yesmmc/img/mmc_title_05.png"></div>
				<div class="Trend_box_b">
					<div class="Trend_box_l"><!--[diy=YesMMC_diy11]--><div id="YesMMC_diy11" class="area"></div><!--[/diy]--></div>
					<div class="Trend_box_r"><!--[diy=YesMMC_diy12]--><div id="YesMMC_diy12" class="area"></div><!--[/diy]--></div>
				</div>
			</div>
			<div class="Trend_box">
				<div class="Trend_box_t"><IMG src="../../static/image/yesmmc/img/mmc_title_06.png"></div>
				<div class="Trend_box_b">
					<div class="Trend_box_l"><!--[diy=YesMMC_diy13]--><div id="YesMMC_diy13" class="area"></div><!--[/diy]--></div>
					<div class="Trend_box_r"><!--[diy=YesMMC_diy14]--><div id="YesMMC_diy14" class="area"></div><!--[/diy]--></div>
				</div>
			</div>
			<div class="Trend_box">
				<div class="Trend_box_t"><IMG src="../../static/image/yesmmc/img/mmc_title_07.png"></div>
				<div class="Trend_box_b">
					<div class="Trend_box_l"><!--[diy=YesMMC_diy15]--><div id="YesMMC_diy15" class="area"></div><!--[/diy]--></div>
					<div class="Trend_box_r"><!--[diy=YesMMC_diy16]--><div id="YesMMC_diy16" class="area"></div><!--[/diy]--></div>
				</div>
			</div>
		</div>
	</div>
	<!--文章模块-->
	
</div>

<!--[diy=YesMMC_ad03]--><div id="YesMMC_ad03" class="area"></div><!--[/diy]-->

<div class="portal_col_02">
	<div class="portal_box_06">
		<!--论坛模块-->
		<div class="Forum_col">
			<div id="Tab_one">
				<div class="Menubox_one">
					<ul>
						<li class="title"></li>
						<li id="one1" onMouseOver="setTab('one',1,4)">潮流时尚</li>
						<li id="one2" onMouseOver="setTab('one',2,4)">休闲娱乐</li>
						<li id="one3" onMouseOver="setTab('one',3,4)" class="hover">兴趣交流</li>
						<li id="one4" onMouseOver="setTab('one',4,4)">同城生活</li>
					</ul>
				</div>
				<div class="Contentbox_one">
					<div id="con_one_1" style="display:none">
						<div class="Forum_top">
							<div class="Forum_left"><!--[diy=YesMMC_diy17]--><div id="YesMMC_diy17" class="area"></div><!--[/diy]--></div>
							<div class="Forum_right">
								<div class="Forum_content"><!--[diy=YesMMC_diy18]--><div id="YesMMC_diy18" class="area"></div><!--[/diy]--></div>
								<div class="Forum_list"><!--[diy=YesMMC_diy19]--><div id="YesMMC_diy19" class="area"></div><!--[/diy]--></div>
							</div>
						</div>
						<div class="Forum_bottom"><!--[diy=YesMMC_diy20]--><div id="YesMMC_diy20" class="area"></div><!--[/diy]--></div>
					</div>
					<div id="con_one_2" style="display:none">
						<div class="Forum_top">
							<div class="Forum_left"><!--[diy=YesMMC_diy21]--><div id="YesMMC_diy21" class="area"></div><!--[/diy]--></div>
							<div class="Forum_right">
								<div class="Forum_content"><!--[diy=YesMMC_diy22]--><div id="YesMMC_diy22" class="area"></div><!--[/diy]--></div>
								<div class="Forum_list"><!--[diy=YesMMC_diy23]--><div id="YesMMC_diy23" class="area"></div><!--[/diy]--></div>
							</div>
						</div>
						<div class="Forum_bottom"><!--[diy=YesMMC_diy24]--><div id="YesMMC_diy24" class="area"></div><!--[/diy]--></div>
					</div>
					<div id="con_one_3">
						<div class="Forum_top">
							<div class="Forum_left"><!--[diy=YesMMC_diy25]--><div id="YesMMC_diy25" class="area"></div><!--[/diy]--></div>
							<div class="Forum_right">
								<div class="Forum_content"><!--[diy=YesMMC_diy26]--><div id="YesMMC_diy26" class="area"></div><!--[/diy]--></div>
								<div class="Forum_list"><!--[diy=YesMMC_diy27]--><div id="YesMMC_diy27" class="area"></div><!--[/diy]--></div>
							</div>
						</div>
						<div class="Forum_bottom"><!--[diy=YesMMC_diy28]--><div id="YesMMC_diy28" class="area"></div><!--[/diy]--></div>
					</div>
					<div id="con_one_4" style="display:none">
						<div class="Forum_top">
							<div class="Forum_left"><!--[diy=YesMMC_diy29]--><div id="YesMMC_diy29" class="area"></div><!--[/diy]--></div>
							<div class="Forum_right">
								<div class="Forum_content"><!--[diy=YesMMC_diy30]--><div id="YesMMC_diy30" class="area"></div><!--[/diy]--></div>
								<div class="Forum_list"><!--[diy=YesMMC_diy31]--><div id="YesMMC_diy31" class="area"></div><!--[/diy]--></div>
							</div>
						</div>
						<div class="Forum_bottom"><!--[diy=YesMMC_diy32]--><div id="YesMMC_diy32" class="area"></div><!--[/diy]--></div>
					</div>
				</div>
			</div>
		</div>
		<!--论坛模块-->
		
		<!--会员墙模块-->
		<div class="Member_col">
			<div class="Member_title">
			<form action="home.php" method="get">
			性別:
			<select id="gender" name="gender">
			<option value="0">任意</option>
			<option value="1">男</option>
			<option value="2">女</option>
			</select>
			年龄段:
			<input type="text" name="startage" value="18" size="10" class="px" style="width: 20px;" /> ~ <input type="text" name="endage" value="23" size="10" class="px" style="width: 20px;" />
			<label><input type="checkbox" name="avatarstatus" value="1" class="pc" />有头像</label>
			<input type="hidden" name="searchsubmit" value="true" />
			<button type="submit" class="membersearch"><em>查找</em></button>
			<input type="hidden" name="op" value="sex" />
			<input type="hidden" name="mod" value="spacecp" />
			<input type="hidden" name="ac" value="search" />
			<input type="hidden" name="type" value="base" />
			<a href="home.php?mod=spacecp&amp;ac=search">高级查找</a>
			</form>
			</div>
			<div class="Member_box "><!--[diy=YesMMC_diy33]--><div id="YesMMC_diy33" class="area"></div><!--[/diy]--></div>
		</div>
		<!--会员墙模块-->
		
		<!--群组模块-->
		<div class="Group_col">
			<div class="Group_title">
				<h2></h2>
				<em>影音 | 情感 | 生活 | 休闲 | 游戏 | 体育</em>
			</div>
			<div class="Group_box">
				<div class="Group_l"><!--[diy=YesMMC_diy34]--><div id="YesMMC_diy34" class="area"></div><!--[/diy]--></div>
				<div class="Group_r">
					<div class="Group_one"><!--[diy=YesMMC_diy35]--><div id="YesMMC_diy35" class="area"></div><!--[/diy]--></div>
					<div class="Group_two"><!--[diy=YesMMC_diy36]--><div id="YesMMC_diy36" class="area"></div><!--[/diy]--></div>
					<div class="Group_ad"><!--[diy=YesMMC_ad04]--><div id="YesMMC_ad04" class="area"></div><!--[/diy]--></div>
				</div>
			</div>
		</div>
		<!--群组模块-->
		
	</div>
	<div class="portal_box_07">
		<div class="Blog_col">
			<div class="Blog_title"><h2></h2></div>
			<div class="Blog_box ">
				<!--微博模块-->
				<div class="Blog_one">
					<div class="Blog_t">微博动态</div>
					<div class="Blog_one_list">
						<div id="con"><!--[diy=YesMMC_diy37]--><div id="YesMMC_diy37" class="area"></div><!--[/diy]--></div>
					</div>
					<div class="Blog_one_post">
						<form method="post" autocomplete="off" id="mood_addform" action="home.php?mod=spacecp&ac=doing&view=$_GET[view]" onsubmit="if($('message').value == msgstr){return false;}">
						<table cellspacing="0" cellpadding="0" width="100%">
							<tr>
								<td id="mood_statusinput" class="Blog_input">
									<textarea name="message" id="message" class="xg1" onfocus="handlePrompt(1);" onclick="showFace(this.id, 'message', msgstr);" onblur="handlePrompt(0);" onkeyup="strLenCalc(this, 'maxlimit')" onkeydown="ctrlEnter(event, 'add');" rows="4"></textarea>
								</td>
								<td class="Blog_btn">
									<button type="submit" name="addsubmit_btn" id="addsubmit_btn">发布</Button>
								</td>
							</tr>
							<tr>
								<td colspan="2" class="Blog_one_post_c">
									<span>还可输入 <strong id="maxlimit">200</strong> 个字符</span>
									<label for="to_sign"><input type="checkbox" name="to_signhtml" id="to_sign" class="pc" value="1" />同步到个人签名</label>
									<div id="return_doing" class="xi1 xw1"></div>
								</td>
							</tr>
						</table>
							<input type="hidden" name="addsubmit" value="true" />
							<input type="hidden" name="refer" value="$theurl" />
							<input type="hidden" name="topicid" value="$topicid" />
							<input type="hidden" name="formhash" value="{FORMHASH}" />
						</form>
					</div>
				</div>
				<!--微博模块-->
				
				<!--相册模块-->
				<div class="Blog_two">
					<div class="Blog_t">会员相册</div>
					<div class="Blog_photo"><!--[diy=YesMMC_diy38]--><div id="YesMMC_diy38" class="area"></div><!--[/diy]--></div>
				</div>
				<!--相册模块-->
				
				<!--相册模块-->
				<div class="Blog_three">
					<div class="Blog_t">博客日志</div>
					<div class="Blog_blog_list"><!--[diy=YesMMC_diy39]--><div id="YesMMC_diy39" class="area"></div><!--[/diy]--></div>
				</div>
				<!--相册模块-->
			</div>
		</div>
	</div>
</div>


<div class="portal_col_03">
	<div class="FriendLinks"><!--[diy=YesMMC_diy40]--><div id="YesMMC_diy40" class="area"></div><!--[/diy]--></div>
</div>

</div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=$_G['gp_diy']&r={echo random(4)}" type="text/javascript"></script>
<!--{subtemplate common/footer}-->
